@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Jokes applications</a>.</p> <!-- <a href="https://learn.microsoft.com/aspnet/core"> -->
</div>
